{% extends 'toolpocket_app/layouts/main.html' %}
{# contenido cargado #}

{% block content %}

    <div class="py-3 bg-bar">
        <div class="container">
            <a class="text-white" href="{% url 'home' %}">Inicio / </a>
            <a class="text-white" href="{% url 'collections' %}">Categorías /</a>
            <a class="text-white"
               href="{% url 'collectionsview' products.category.slug %}">{{ products.category.name }}</a>
            <a class="text-white"
               href="{% url 'productview' products.category.slug products.slug %}">/ {{ products.name }}</a>
        </div>
    </div>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="card details">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4">
                                    {% if products.tag %}
                                        <label style="font-size: 16px"
                                               class="m-1 float-end badge bg-success trending_tag">{{ products.tag }}</label>
                                    {% endif %}
                                    <a href="{{ products.link }}" target="_blank">
                                        <img src="{{ products.product_image.url }}" class="w-100 rounded" alt="img">
                                    </a>
                                    <div class="my-4">
                                        {% for gif in related_gifs %}
                                            <div class="ratio ratio-16x9 my-2">
                                                <iframe src="{{ gif }}" frameborder="0"
                                                        class="giphy-embed embed-responsive-item rounded"
                                                        allowFullScreen></iframe>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <div class="serviceBox my-4">
                                        <div class="service-icon">
                                            <form action="{% url 'add_to_favorites' %}" method="post">
                                                {% csrf_token %}
                                                <button type="submit" class="service-icon"
                                                        style="background: none; border: none;">
                                                    <span><i class="fa-solid fa-toolbox"></i></span>
                                                    <span>Favoritos</span>
                                                </button>
                                                <input type="hidden" name="product_id" value="{{ products.id }}">
                                            </form>
                                        </div>
                                        <h3 class="title">¿Donde lo obtengo?</h3>
                                        <a style="text-decoration:none" href="{{ products.link }}"
                                           class="btn btn-outline-primary description" target="_blank">
                                            {{ products.link }}
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <h2 class="mb-0">
                                        {{ products.name }}
                                        {% if products.trending %}
                                            <label style="font-size: 16px"
                                                   class="float-end badge bg-danger trending_tag">Tendencia</label>
                                        {% endif %}
                                    </h2>
                                    <div class="col-md-12">
                                        <hr>
                                        <div class="card bg-desc p-2 my-2">
                                            <h4>Descripción:</h4>
                                            <p class="mt-3" style="text-align: justify;">
                                                {{ products.description }}
                                            </p>
                                        </div>
                                        <div class="card bg-desc">
                                            <p style="text-align: justify" class="card-body">
                                                {{ products.get_formatted_pros_and_cons | safe }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row p-4 my-3 gy-3 text-center">
                            <h4 class="text-center">¿Interesado en usarla?</h4>
                            <h5 class="text-center">¡Mira estos videos!</h5>

                            {% for video in related_videos %}
                                <div class="col-md-6 col-lg-4">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" src="{{ video }}" frameborder="0"
                                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                                allowfullscreen></iframe>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock content %}
