{% extends 'toolpocket_app/layouts/main.html' %}

{% block content %}

<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card-body  login-box p-5">
                <h2>Regístrate en <br> Tool Pocket</h2>
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="form-floating user-box mb-3">
                        <input type="text" class="form-control" id="floatingInput" name="username" placeholder="Nombre de usuario">
                        <label for="floatingInput">Nombre de usuario</label>
                        {% if form.errors.username %}
                            <div class="invalid-feedback d-block inv">{{ form.errors.username }}</div>
                        {% endif %}
                    </div>
                    <div class="form-floating user-box mb-3">
                        <input type="email" class="form-control" id="floatingEmail" name="email" placeholder="nombre@ejemplo.com">
                        <label for="floatingEmail">Correo electrónico</label>
                        {% if form.errors.email %}
                            <div class="invalid-feedback d-block inv">{{ form.errors.email }}</div>
                        {% endif %}
                    </div>
                    <div class="form-floating user-box mb-3">
                        <input type="password" class="form-control" id="floatingPassword1" name="password1" placeholder="Contraseña">
                        <label for="floatingPassword1">Contraseña</label>
                        {% if form.errors.password1 %}
                            <div class="invalid-feedback d-block inv">{{ form.errors.password1 }}</div>
                        {% endif %}
                    </div>
                    <div class="form-floating user-box">
                        <input type="password" class="form-control" id="floatingPassword2" name="password2" placeholder="Confirmación">
                        <label for="floatingPassword2">Confirmar contraseña</label>
                        {% if form.errors.password2 %}
                            <div class="invalid-feedback d-block inv">{{ form.errors.password2 }}</div>
                        {% endif %}
                    </div>
                    <button class="button-r" type="submit">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        Registrar
                    </button>
                    <p class="small fw-bold mt-2 pt-1 mb-0">¿Ya tienes una cuenta?
                        <a href="{% url 'loginpage' %}" class="link-danger">Iniciar sesión</a>
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}