{% extends 'toolpocket_app/layouts/main.html' %}
{#contenido cargado#}


{% block content %}

    {% include 'toolpocket_app/inc/slider.html' %}

    {% for item in category %}
        <div class="container my-5">
            <div class="row">
                    <div class="col-md-12">
                        <h1 class="sign">{{ item }}</h1>
                        <hr style="color:white">
                        <div class="owl-carousel owl-theme">
                            {% for p_item in products %}
                                {% if p_item.category == item %}
                                <div class="item " >
                                    <div class="card " >
                                        <a class="link" href="{% url 'productview' p_item.category.slug p_item.slug %}">
<!--                                            <div class="card-body">-->
                                                <div class="">
                                                    <img class="card-img-top" src="{{ p_item.product_image.url }}" alt="Category image" />
                                                </div>
                                                <div class="card-bodyy">
                                                    <h4 class="card-title">{{  p_item.name }}</h4>
                                                    <a class="card-btn my-2 link2" href="{% url 'productview' p_item.category.slug p_item.slug %}">Detalles</a>
                                                      <form action="{% url 'add_to_favorites' %}" method="post">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="product_id" value="{{ p_item.id }}">
                                                        <button type="submit" class="card-btn-d">Agregar a favoritos</button>
                                                      </form>
                                                </div>

<!--                                            </div>-->
                                         </a>
                                    </div>
                                </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
            </div>
       </div>

    {% endfor %}

{% endblock content %}

{% block scripts %}
    <script>

        $('.owl-carousel').owlCarousel({
            loop:true,
            margin:15,
            nav:true,
            responsive:{
                0:{
                    items:1
                },
                600:{
                    items:3
                },
                1000:{
                    items:4
                }
            }
        })
    </script>






{% endblock scripts %}