{% extends 'toolpocket_app/layouts/main.html' %}
{#contenido cargado#}
{% load static %}
{% block content %}

    <div class="containerA">

        <div class="about">
            <div class="left">
                <h1>Acerca de nosotros</h1>
                <hr>
                <p>Toolpocket es un sitio web que permite al usuario encontrar con facilidad y precisión las
                    aplicaciones web que necesita para realizar sus trabajos de carácter educativo, profesional o
                    creativo.</p>
                <h1>Nos interesa saber tu opinión</h1>
                <hr>
                <p>En ToolPocket nos encanta escuchar tu opinión, ya que nos importa mucho mejorar nuestros servicios.
                    Es por ello, que hemos creado un apartado especial para que puedas compartir tus comentarios con
                    nosotros. Te invitamos amablemente a llenar nuestra encuesta a través del siguiente enlace. ¡Tu
                    participación es fundamental para que podamos crecer juntos y brindarte la mejor experiencia
                    posible!</p>
                <a style="text-decoration:none" href="https://es.surveymonkey.com/r/CSSRTCM"
                   class="btn btn-outline-primary description" target="_blank">
                    Haz clic aquí
                </a>
            </div>
            <div class="right">
                <img src="{% static 'images/p1.png' %}">
            </div>
            <div class="clear"></div>
        </div>


        <div class="mission">

            <div class="left">
                <img src="{% static 'images/logo.png' %}">
            </div>
            <div class="right">
                <h1>Misión</h1>
                <hr>
                <p> La misión del proyecto web es proporcionar una plataforma fácil de usar que permita a las personas
                    encontrar fácilmente las aplicaciones web que necesitan para mejorar su trabajo, completar tareas o
                    facilitar sus ejercicios de aprendizaje. Su objetivo es simplificar el proceso de descubrimiento y
                    acceso a aplicaciones web, lo que permite a los usuarios optimizar su productividad y alcanzar sus
                    objetivos de manera eficiente.</p>
            </div>
        </div>
        <div class="about">
            <div class="left">
                <h1>Visión</h1>
                <hr>
                <p>La visión del proyecto es convertirse en la plataforma de referencia para las personas que buscan
                    aplicaciones web adaptadas a sus necesidades específicas. Visualiza un futuro en el que los
                    usuarios
                    pueden navegar sin problemas por un vasto ecosistema de aplicaciones web, encontrando las
                    herramientas perfectas para respaldar su trabajo, educación y crecimiento personal. El proyecto
                    aspira a mejorar continuamente sus ofertas y brindar una solución integral que permita a los
                    usuarios sobresalir en sus esfuerzos.</p>
            </div>
                        <div class="right">
                <img src="{% static 'images/pic1.png' %}">
            </div>
        </div>

        <div class="mission">
            <div class="left">
                <img src="{% static 'images/tecnm.png' %}">
            </div>
            <div class="right">
                <h1>Valores</h1>
                <hr>
                <p>El proyecto se rige por varios valores fundamentales que dan forma a sus operaciones e
                    interacciones
                    con los usuarios. Estos valores incluyen:
                    <br>
                    <br><b style="color: #06a464">Accesibilidad</b>: La plataforma está diseñada para ser totalmente
                    gratuita y adaptable, asegurando
                    que todos los usuarios, independientemente de su economia o habilidades, puedan acceder
                    fácilmente y
                    beneficiarse de las aplicaciones web disponibles.

                    <br><b style="color: #06a464">Centrarse en el usuario</b>: El proyecto coloca a los usuarios en
                    el centro de su proceso de diseño
                    y desarrollo, esforzándose por comprender sus necesidades, preferencias y puntos débiles. Los
                    comentarios de los usuarios son valorados e incorporados para mejorar la plataforma
                    continuamente.

                    <br><b style="color: #06a464">Confiabilidad</b>: El proyecto tiene como objetivo proporcionar
                    una plataforma confiable y estable,
                    asegurando que los usuarios puedan confiar con confianza en las aplicaciones web que descubren
                    para
                    su trabajo, tarea o ejercicios de aprendizaje.

                    <br><b style="color: #06a464">Calidad</b>: La plataforma prioriza la selección de aplicaciones
                    web de alta calidad, centrándose en
                    aquellas que ofrecen una funcionalidad, un rendimiento y una experiencia de usuario
                    excepcionales.
                    Solo las aplicaciones que cumplen con los estrictos estándares de calidad se incluyen en las
                    ofertas
                    de la plataforma.

                    <br><b style="color: #06a464">Colaboración</b>: El proyecto fomenta la colaboración entre
                    usuarios, desarrolladores de
                    aplicaciones y la propia plataforma. Busca fomentar una comunidad donde los usuarios puedan
                    compartir sus experiencias, brindar recomendaciones y participar en debates significativos para
                    mejorar colectivamente el proceso de descubrimiento de aplicaciones web.

                    <br><b style="color: #06a464">Mejora Continua</b>: El proyecto apuesta por la mejora continua,
                    tanto en las funcionalidades de la
                    plataforma como en la gama de aplicaciones web disponibles. Busca activamente incorporar
                    tecnologías
                    emergentes y soluciones innovadoras para brindar la mejor experiencia posible a sus usuarios.
                </p>
            </div>
        </div>

    </div>


{% endblock content %}